@tailwind base;
@tailwind components;
@tailwind utilities;

.text-8xl {
  font-size: 6rem;
  text-shadow: 
    -1px -1px 0 #f95858,
    1px -1px 0 #f95858,
    -1px 1px 0 #f95858,
    1px 1px 0 #f95858,
    -2px -2px 0 #f95858,
    2px -2px 0 #f95858,
    -2px 2px 0 #f95858,
    2px 2px 0 #f95858;
  color: transparent;
  -webkit-text-stroke: 5px #f95858;
}