@tailwind base;
@tailwind components;
@tailwind utilities;

.text-8xl {
  font-size: 6rem;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  color: transparent;
  -webkit-text-stroke: 3px black;
}